$bp-mobile: 50rem;
$bp-desktop: 75rem;

:root {
  /* Brand Colors */
  --color-primary: #333;
  --color-white: #ffffff;
  --color-brand-gray: #444;
  --color-brand-orange: #ff981a;

  --font-main: "Inter", sans-serif;

  /* Layout */
  --page-max-width: 100rem; // 1600px
}
