a.is-external::after {
  content: '';
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background-color: currentColor;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1rem 1rem;
  -webkit-mask: url('../images/icons/arrow-up-right.svg')
  no-repeat center / 1rem 1rem;
  mask: url('../images/icons/arrow-up-right.svg')
  no-repeat center / 1rem 1rem;
}